extends ../layout

block content 
    h1 Update Book
    br
    a(href="/books", type='_blank') Return Home
    br
    br
    form(action=`/books/update/${foundProducts._id}`, method="post")
        if foundProducts != null
            div 
                | Title 
                input(name='title', value=`${foundProducts.title}`, required)
            br
            div 
                | Price 
                input(name='price', type='number', min='1',value=`${foundProducts.price}`, required)
            br
            div 
                input(type='submit', value='Update')